@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
  position: relative;
}
.card {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  top: 0%;
  left: 40%;
  bottom: 0;
  right: 0;
  margin-top: 36px;
}
#pinta-left {
  position: absolute;
  top: 0;
  left: 0;
}
#number {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
#pinta-right {
  position: absolute;
  bottom: 0;
  right: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-180deg);
}
