@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: green;
  position: relative;
}
.card {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  background-color: whitesmoke;
  display: flex;
  align-items: center;
}

#number-left {
  position: absolute;
  top: 0;
  left: 0;
}

#pinta {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
#number-right {
  position: absolute;
  bottom: 0;
  right: 0;
}
